@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Light mode */
:root {
  color-scheme: light;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

/* Dark mode */
.dark {
  color-scheme: dark;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.921 0 0);
}

/* Define new utility classes */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
